body{
    background-color: darkorchid;
    text-align: center;
}
.img1{
   border: 3px solid white;
   border-radius: 150px;
}
.img2{
transition: 0.5s;
border-radius: 150px;
opacity: 0.5;

}
.Alfenas{
    border: 5px solid white;
    border-radius: 50px;
}
.Alterosa{
    border: 5px solid white;
    border-radius: 50px;
}
.img2:hover{
    opacity: 1;
    border-radius: 150px;
    transition: 0.5s;
}
h1{
    color: white;
    font-family: Trebuchet MS;
    font-size: 60px;
    margin: 1%;
}
h2{
    color: white;
    font-family: Trebuchet MS;
    font-size: 40px;
    margin: 20px;
}
h3{
    color: white;
    font-family: Arial;
}
a:hover{
    color: darkorchid;
    transition: 0.5s;
}
a{
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.background{
    background-color: rgb(163, 81, 205);
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}
.background2{
    background-color: rgb(163, 81, 205);
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}
.background3{
    background-color: rgb(163, 81, 205);
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}
button{
    padding: 15px;
    font-size: 25px;
    font-family: Trebuchet MS;
    background-color: darkorchid;
    border: solid white 2px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transform: skewX(0deg);
    transition: 0.5s;
}
button:hover{
    background-color: rgb(163, 81, 205);
    transition: 0.5s;
    transform: skewX(-10deg);
}

@media screen and (max-width: 1161px){
    html{
        width: 1500px; height: 2000px;
        padding-right: 50%;
        transform: translateX(-13%);
    }
}
    

